body {
	font-size: 16px;
	color: rgb(0, 0, 0);
	background-color: #ffffff;    
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header section */
#header-nav {
	background-color: #C14543	;
	border-radius: 0;
	border: 2px solid black;
	color: white;
}

.navbar-brand p {
	color: white;
	font-size: 20px;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list a {
	color: white;
	text-align: center;
}

#nav-list a:hover {
	background-color: #999999;
}
/* END HEADER */

/* Contenedor principal */
#home {
	margin-bottom: 30px;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: #999999	;
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
	border: 1.3px solid black;
}
/* End Section */


@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
}